// colors :
$color-ddd :rgb(255, 120, 0);
$bleu : #0011ff;
$jaune : #fff200;
$rose : #ff44b4;
$black : #000000;
$grey : #292929;

//dégradés :
$degrade-bleu : linear-gradient(0.25turn, #0011ff, #000ba4);
$degrade-white-grey : linear-gradient(#d2d2d2, #ffffff);
$degrade-white-blue : linear-gradient(#0011ff, #ffffff);



// polices :
$font-ddd : 'Monotype Corsiva';
$font-Parisienne :'Parisienne', cursive;
$font-inter : 'Inter', sans-serif;
$font-courgette: 'Courgette', cursive;
$font-tai : 'Tai Heritage Pro', serif;